.book-item {
  padding: 10px;
  max-width: 768px;
}

.book-item-title {
  font-family: 'open-sans-bold';
  text-transform: uppercase;
}

.book-item-author {
  font-family: 'open-sans-bold';
  padding-bottom: 10px;
}

.book-item-date {
  font-family: 'open-sans-bold';
  padding-bottom: 10px;
}

.book-item-description {

}
